name: Update YouTube Title

on:
  schedule:
    - cron: '* * * * *'  # Every 1 minute
  
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install dependencies
        run: npm install
      
      - name: Update YouTube title
        env:
          VIDEO_ID: ${{ secrets.VIDEO_ID }}
          CREDENTIALS_JSON: ${{ secrets.CREDENTIALS_JSON }}
          TOKEN_JSON: ${{ secrets.TOKEN_JSON }}
        run: npm start
